# 파일불러오기

In [2]:
pip install apyori

WARNING: Keyring is skipped due to an exception: Failed to unlock the collection!
WARNING: Keyring is skipped due to an exception: Failed to unlock the collection!
Collecting apyori
  WARNING: Keyring is skipped due to an exception: Failed to unlock the collection!
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=d328a72d0c1165e7f4f908fa36b0900b5efbebcaff36e4e79df9c0821910be06
  Stored in directory: /home/team/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
WARNING: Keyring is skipped due to an exception: Failed to unlock the collection!
WARNING: Keyring is skipped due to an exception: Failed to unlock the collection!
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori
import pickle
from tqdm import tqdm

In [4]:
df = pd.read_csv("./data/new_df_final.csv")
# store_data.csv
# df = pd.read_csv("./data/store_data.csv")
# df.head(2)

In [5]:
df = df.drop(["Unnamed: 0"], axis=1)

# 파일 복사

In [6]:
test = df.drop(["Unnamed: 0.1", "user_name", "food"], axis=1)

In [7]:
test

,galbigui,galchigui,godeungeogui,gopchanggui,dakgalbi,tteokgalbi,bulgogi,samgyeopsal,jangeogui,jogaegui,...,gamjatang,gomguk-seolleongtang,maeuntang,samgyetang,gochutwigim,saeutwigim,ojingeotwigim,yakgwa,hangwa,yukhoe
0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 데이터 형식 바꾸기

In [8]:
# 한줄씩 row 데이터를 뽑아서
foods = list()
cols  = test.columns
for i in tqdm(range( test.shape[0])):
    row_tmp = list()
    tmp = test.iloc[i, :]
    for j in range( tmp.shape[0]):
        # NaN이 아닌 컬럼만 획득
#         print(tmp[j])
        if tmp[j] == 1.0:
            row_tmp.append( cols[j] )
        else:
            row_tmp.append( np.nan )
#         # 그 컬럼명만 리스트에 담는다         
    foods.append( row_tmp )

100%|██████████| 78633/78633 [01:41<00:00, 775.04it/s]

In [9]:
test.shape[0]

78633

In [10]:
# len(foods) == test.shape[0]
len(foods)

78633

In [11]:
test.shape[1]

118

In [12]:
len(foods[0])

118

In [13]:
tmp_df = pd.DataFrame( foods )
tmp_df

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,NaN,NaN,NaN,NaN,NaN,NaN,bulgogi,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,bulgogi,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,galbigui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,galbigui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,galbigui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 첫 번째 방법

In [14]:
tmp_df.shape

(78633, 118)

In [15]:
from tqdm import tqdm
records = []
for i in tqdm(range(78633)):
    records.append([str(tmp_df.values[i, j]) for j in range(0, 118)])

100%|██████████| 78633/78633 [00:49<00:00, 1587.08it/s]

In [16]:
len(records)

78633

In [17]:
association_rules   = apriori(records, min_support = 0.0045, min_confidence = .2, min_lift = 3, min_length = 2)
# Convert above rules into a list of rules
association_results = list(association_rules)

In [18]:
# Total number of rules generated
print(len(association_results))

8

In [44]:
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    print("Rule :"+ str(items[0]) + "->" + str(items[1]) )
    print("Support : {}".format(item[1]))
    print("Confidence : {}".format(item[2][0][2]))
    print("Lift : {}".format(item[2][0][3]))
    print("\n-------------------------------------------------\n")

Rule :kimchijjigae->doenjangjjigae
Support : 0.010809710935612275
Confidence : 0.24031665253039297
Lift : 6.756102730933998

-------------------------------------------------

Rule :friedchicken->yangnyeomchicken
Support : 0.03136087902025867
Confidence : 0.5452133539686049
Lift : 10.229482620523338

-------------------------------------------------

Rule :friedchicken->bulgogi
Support : 0.005010618951330866
Confidence : 0.5710144927536233
Lift : 10.713572562322991

-------------------------------------------------

Rule :kimchijjigae->nan
Support : 0.010809710935612275
Confidence : 0.24031665253039297
Lift : 6.756102730933998

-------------------------------------------------

Rule :friedchicken->nan
Support : 0.03136087902025867
Confidence : 0.5452133539686049
Lift : 10.229482620523338

-------------------------------------------------

Rule :friedchicken->yangnyeomchicken
Support : 0.004819859346584767
Confidence : 0.6233552631578947
Lift : 11.69560830539125

-------------------------------------------------

Rule :friedchicken->nan
Support : 0.005010618951330866
Confidence : 0.5710144927536233
Lift : 10.713572562322991

-------------------------------------------------

Rule :friedchicken->nan
Support : 0.004819859346584767
Confidence : 0.6233552631578947
Lift : 11.69560830539125

-------------------------------------------------

# 데이터베이스에 넣을 데이터프레임 만들기

In [26]:
association_results

[RelationRecord(items=frozenset({'kimchijjigae', 'doenjangjjigae'}), support=0.010809710935612275, ordered_statistics=[OrderedStatistic(items_base=frozenset({'doenjangjjigae'}), items_add=frozenset({'kimchijjigae'}), confidence=0.24031665253039297, lift=6.756102730933998), OrderedStatistic(items_base=frozenset({'kimchijjigae'}), items_add=frozenset({'doenjangjjigae'}), confidence=0.30389703253485884, lift=6.756102730933999)]),
 RelationRecord(items=frozenset({'friedchicken', 'yangnyeomchicken'}), support=0.03136087902025867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.5452133539686049, lift=10.229482620523338), OrderedStatistic(items_base=frozenset({'yangnyeomchicken'}), items_add=frozenset({'friedchicken'}), confidence=0.58840372226199, lift=10.229482620523338)]),
 RelationRecord(items=frozenset({'friedchicken', 'bulgogi', 'yangnyeomchicken'}), support=0.005010618951330866, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken', 'bulgogi'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.5710144927536233, lift=10.713572562322991), OrderedStatistic(items_base=frozenset({'bulgogi', 'yangnyeomchicken'}), items_add=frozenset({'friedchicken'}), confidence=0.657762938230384, lift=11.435302481067827)]),
 RelationRecord(items=frozenset({'kimchijjigae', 'nan', 'doenjangjjigae'}), support=0.010809710935612275, ordered_statistics=[OrderedStatistic(items_base=frozenset({'doenjangjjigae'}), items_add=frozenset({'kimchijjigae', 'nan'}), confidence=0.24031665253039297, lift=6.756102730933998), OrderedStatistic(items_base=frozenset({'kimchijjigae'}), items_add=frozenset({'nan', 'doenjangjjigae'}), confidence=0.30389703253485884, lift=6.756102730933999), OrderedStatistic(items_base=frozenset({'nan', 'doenjangjjigae'}), items_add=frozenset({'kimchijjigae'}), confidence=0.24031665253039297, lift=6.756102730933998), OrderedStatistic(items_base=frozenset({'kimchijjigae', 'nan'}), items_add=frozenset({'doenjangjjigae'}), confidence=0.30389703253485884, lift=6.756102730933999)]),
 RelationRecord(items=frozenset({'friedchicken', 'nan', 'yangnyeomchicken'}), support=0.03136087902025867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken'}), items_add=frozenset({'nan', 'yangnyeomchicken'}), confidence=0.5452133539686049, lift=10.229482620523338), OrderedStatistic(items_base=frozenset({'yangnyeomchicken'}), items_add=frozenset({'friedchicken', 'nan'}), confidence=0.58840372226199, lift=10.229482620523338), OrderedStatistic(items_base=frozenset({'friedchicken', 'nan'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.5452133539686049, lift=10.229482620523338), OrderedStatistic(items_base=frozenset({'nan', 'yangnyeomchicken'}), items_add=frozenset({'friedchicken'}), confidence=0.58840372226199, lift=10.229482620523338)]),
 RelationRecord(items=frozenset({'friedchicken', 'yangnyeomchicken', 'samgyeopsal'}), support=0.004819859346584767, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken', 'samgyeopsal'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.6233552631578947, lift=11.69560830539125), OrderedStatistic(items_base=frozenset({'yangnyeomchicken', 'samgyeopsal'}), items_add=frozenset({'friedchicken'}), confidence=0.7070895522388059, lift=12.292852699799695)]),
 RelationRecord(items=frozenset({'friedchicken', 'nan', 'bulgogi', 'yangnyeomchicken'}), support=0.005010618951330866, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken', 'bulgogi'}), items_add=frozenset({'nan', 'yangnyeomchicken'}), confidence=0.5710144927536233, lift=10.713572562322991), OrderedStatistic(items_base=frozenset({'bulgogi', 'yangnyeomchicken'}), items_add=frozenset({'friedchicken', 'nan'}), confidence=0.657762938230384, lift=11.435302481067827), OrderedStatistic(items_base=frozenset({'friedchicken', 'nan', 'bulgogi'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.5710144927536233, lift=10.713572562322991), OrderedStatistic(items_base=frozenset({'nan', 'bulgogi', 'yangnyeomchicken'}), items_add=frozenset({'friedchicken'}), confidence=0.657762938230384, lift=11.435302481067827)]),
 RelationRecord(items=frozenset({'friedchicken', 'nan', 'yangnyeomchicken', 'samgyeopsal'}), support=0.004819859346584767, ordered_statistics=[OrderedStatistic(items_base=frozenset({'friedchicken', 'samgyeopsal'}), items_add=frozenset({'nan', 'yangnyeomchicken'}), confidence=0.6233552631578947, lift=11.69560830539125), OrderedStatistic(items_base=frozenset({'yangnyeomchicken', 'samgyeopsal'}), items_add=frozenset({'friedchicken', 'nan'}), confidence=0.7070895522388059, lift=12.292852699799695), OrderedStatistic(items_base=frozenset({'friedchicken', 'nan', 'samgyeopsal'}), items_add=frozenset({'yangnyeomchicken'}), confidence=0.6233552631578947, lift=11.69560830539125), OrderedStatistic(items_base=frozenset({'yangnyeomchicken', 'nan', 'samgyeopsal'}), items_add=frozenset({'friedchicken'}), confidence=0.7070895522388059, lift=12.292852699799695)])]

- association_results형태를 보고 각각 뽑아내서 데이터 프레임 새로 만들기

In [37]:
# 한 규칙에 대한 첫 번째 지수
association_results[0][2][0]
# 한 규칙에 대한 두 번째 지수
association_results[0][2][1]

OrderedStatistic(items_base=frozenset({'kimchijjigae'}), items_add=frozenset({'doenjangjjigae'}), confidence=0.30389703253485884, lift=6.756102730933999)

- 새로운 빈 데이터 프레임 생성

In [89]:
associ = pd.DataFrame(columns=["food", "with_food", "support", "confidence", "lift"],
                      index=range(8))

- 데이터프레임에 값 넣기

In [96]:
cnt = 0
for idx, item in enumerate(association_results):
    pair = item[0]
    items = [x for x in pair]
    associ["food"][idx] = items[0]
    associ["with_food"][idx] = items[1]
    associ["support"][idx] = item[1]
    associ["confidence"][idx] = item[2][0][2]
    associ["lift"][idx] = item[2][0][3]

- 데이터프레임 확인

In [97]:
associ

           food         with_food     support confidence     lift
0  kimchijjigae    doenjangjjigae   0.0108097   0.240317   6.7561
1  friedchicken  yangnyeomchicken   0.0313609   0.545213  10.2295
2  friedchicken           bulgogi  0.00501062   0.571014  10.7136
3  kimchijjigae               nan   0.0108097   0.240317   6.7561
4  friedchicken               nan   0.0313609   0.545213  10.2295
5  friedchicken  yangnyeomchicken  0.00481986   0.623355  11.6956
6  friedchicken               nan  0.00501062   0.571014  10.7136
7  friedchicken               nan  0.00481986   0.623355  11.6956

- 데이터 프레임 저장

In [98]:
associ.to_csv("./data/associ.csv")

# 데이터 프레임 mongodb에 넣기

In [2]:
import csv
import json
import pandas as pd
import sys, getopt, pprint
from pymongo import MongoClient

In [3]:
client = MongoClient("mongodb://127.0.0.1:27017/")

In [4]:
db = client.test

In [102]:
df = pd.read_csv("./data/associ.csv")
df = df.drop(["Unnamed: 0"], axis=1)

In [103]:
df.head()

           food         with_food   support  confidence       lift
0  kimchijjigae    doenjangjjigae  0.010810    0.240317   6.756103
1  friedchicken  yangnyeomchicken  0.031361    0.545213  10.229483
2  friedchicken           bulgogi  0.005011    0.571014  10.713573
3  kimchijjigae               NaN  0.010810    0.240317   6.756103
4  friedchicken               NaN  0.031361    0.545213  10.229483

In [104]:
df.to_json("./data/associ.json",orient = "records")
test = open("./data/associ.json").read()
data = json.loads(test)

In [105]:
rule = db.rule

In [106]:
for i in data:
    rule.insert_one(i)

# 함수 만들기 - 1차

- 로직
    1. 이미지 분석에서 나온 결과물인 음식이름(텍스트)를 받는다
    2. 만들어 놓은 규칙 데이터 프레임에서 그 음식이 있는 행을 찾는다
    3. 그 행에서 리프트가 가장 높은 음식을 선택한다
    4. 화면에 그것을 보내준단
    
- 참고자료
    1. https://bbiyakbbiyak.tistory.com/7

In [ ]:
def associ(food_text):
    food_output = select rule from rule_statics where rule = food_text and where max(lift)
    return food_output

# 함수 만들기 - 2차

In [ ]:
@csrf_exempt  
def associ(food_text):
    if request.method == 'GET':
        ar = [ request.session['userid'] ]
        
        sql = 
        """
            SELECT RULE FROM RULE_STATICS
            WHERE RULE=food_text AND
            WHERE MAX(LIFT)
        """
        
        cursor.execute(sql, ar) 
        data = cursor.fetchone()   
        print(data)

        return render(request, 'member/edit.html', {"one":data})