# 파일로드

In [77]:
import pandas as pd
new_df = pd.read_csv("/home/team/바탕화면/파이널프로젝트2/data/new_df.csv")

In [78]:
new_df

,Unnamed: 0,user_name,food
0,KgQnRvsPSrJJTOCp-reYZA,KgQnRvsPSrJJTOCp-reYZA,"['galbitang', 'bulgogi']"
1,1goJa-4OKwc--vlISRm54g,1goJa-4OKwc--vlISRm54g,"['bulgogi', 'bulgogi']"
2,6agrhhelmT9DLUfx4EeZVA,6agrhhelmT9DLUfx4EeZVA,"['galbigui', 'galbitang']"
3,AvaeN3hgxdytAEMlNud-FQ,AvaeN3hgxdytAEMlNud-FQ,"['kimchijjigae', 'galbigui']"
4,wML8YiFzB1JuCfyhPptiSg,wML8YiFzB1JuCfyhPptiSg,"['galbigui', 'doenjangjjigae']"
...,...,...,...
78628,Arlene K,Arlene K,"['yangnyeomchicken', 'yangnyeomchicken']"
78629,MrsOS2014,MrsOS2014,"['yangnyeomchicken', 'yangnyeomchicken']"
78630,Alison A,Alison A,"['yangnyeomchicken', 'yangnyeomchicken']"
78631,addiction4travel,addiction4travel,"['yangnyeomchicken', 'friedchicken']"
78632,152JoyB,152JoyB,"['friedchicken', 'yangnyeomchicken']"

# 음식 리스트 로드

In [5]:
food_in_english =[
    'galbigui',
 'galchigui',
 'godeungeogui',
 'gopchanggui',
 'dakgalbi',
 'deodeokgui',
 'tteokgalbi',
 'bulgogi',
 'samgyeopsal',
 'jangeogui',
 'jogaegui',
 'jogigui',
 'hwangtaegui',
 'hunjeori',
 'gyelangug',
 'tteokguk-mandutguk',
 'muguk',
 'miyeokguk',
 'bugeotguk',
 'siraegiguk',
 'yukgaejang',
 'kongnamulguk',
 'gwamegi',
 'yangnyeomchicken',
 'jeotgal',
 'kongjaban',
 'pyeonyuk',
 'pizza',
 'friedchicken',
 'gatkimchi',
 'kkakdugi',
 'nabakkimchi',
 'musaengchae',
 'baechukimchi',
 'baekkimchi',
 'buchukimchi',
 'yeolmukimchi',
 'oisobagi',
 'chonggakkimchi',
 'pakimchi',
 'gajibokkeum',
 'gosarinamul',
 'miyeokjulgibokkeum',
 'sukjunamul',
 'sigeumchinamul',
 'aehobakbokkeum',
 'gyeongdan',
 'kkultteok',
 'songpyeon',
 'mandu',
 'ramyeon',
 'makguksu',
 'mulnaengmyeon',
 'bibimnaengmyeon',
 'sujebi',
 'yeolmuguksu',
 'janchiguksu',
 'jajangmyeon',
 'jjamppong',
 'jjolmyeon',
 'kalguksu',
 'kongguksu',
 'kkwaligochumuchim',
 'dorajimuchim',
 'dotorimuk',
 'japchae',
 'kongnamulmuchim',
 'hongeomuchim',
 'hoemuchim',
 'gimbap',
 'kimchibokkeumbap',
 'nurungji',
 'bibimbap',
 'saeubokkeumbap',
 'albap',
 'yubuchobap',
 'japgokbap',
 'jumeokbap',
 'gamjachaebokkeum',
 'geonsaeubokkeum',
 'gochujangjinmichaebokkeum',
 'dubukimchi',
 'tteokbokki',
 'rabokki',
 'myeolchibokkeum',
 'sausagebokkeum',
 'eomukbokkeum',
 'ojingeochaebokkeum',
 'jeyukbokkeum',
 'jukkumibokkeum',
 'bossam',
 'sujeonggwa',
 'sikhye',
 'ganjanggejang',
 'yangnyeomgejang',
 'kkaesipjangajji',
 'tteokkkochi',
 'gamjajeon',
 'gyeranmari',
 'gyeranfry',
 'kimchijeon',
 'dongeurangttaeng',
 'saengseonjeon',
 'pajeon',
 'hobakjeon',
 'gopchangjeongol',
 'galchijorim',
 'gamjajorim',
 'godeungeojorim',
 'kkongchijorim',
 'dubujorim',
 'ttangkongjorim',
 'mechurialjangjorim',
 'yeongeunjorim',
 'ueongjorim',
 'jangjorim',
 'kodarijorim',
 'jeonbokjuk',
 'hobakjuk',
 'kimchijjigae',
 'dakgyejang',
 'dongtaejjigae',
 'doenjangjjigae',
 'sundubujjigae',
 'galbijjim',
 'gyeranjjim',
 'kimchijjim',
 'kkomakjjim',
 'dakbokkeumtang',
 'suyuk',
 'sundae',
 'jokbal',
 'jjimdak',
 'haemuljjim',
 'galbitang',
 'gamjatang',
 'gomguk-seolleongtang',
 'maeuntang',
 'samgyetang',
 'chueotang',
 'gochutwigim',
 'saeutwigim',
 'ojingeotwigim',
 'yakgwa',
 'yaksik',
 'hangwa',
 'meongge',
 'sannakji',
 'mulhoe',
 'yukhoe']

## 음식 리스트이름으로 컬럼 만들기

In [79]:
for j in food_in_english:
    new_df[j] = None

In [75]:
type(new_df.iloc[0].galchigui)

NoneType

- 저장

In [80]:
new_df.to_csv('/home/team/바탕화면/파이널프로젝트2/data/food_df.csv', index=False)

# None 값 들어간 데이터 프레임 불러오기

In [69]:
food_df = pd.read_csv('/home/team/바탕화면/파이널프로젝트2/data/food_df.csv')
food_df.head()

,Unnamed: 0,user_name,food,galbigui,galchigui,godeungeogui,gopchanggui,dakgalbi,deodeokgui,tteokgalbi,...,gochutwigim,saeutwigim,ojingeotwigim,yakgwa,yaksik,hangwa,meongge,sannakji,mulhoe,yukhoe
0,KgQnRvsPSrJJTOCp-reYZA,KgQnRvsPSrJJTOCp-reYZA,"['galbitang', 'bulgogi']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1goJa-4OKwc--vlISRm54g,1goJa-4OKwc--vlISRm54g,"['bulgogi', 'bulgogi']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6agrhhelmT9DLUfx4EeZVA,6agrhhelmT9DLUfx4EeZVA,"['galbigui', 'galbitang']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AvaeN3hgxdytAEMlNud-FQ,AvaeN3hgxdytAEMlNud-FQ,"['kimchijjigae', 'galbigui']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,wML8YiFzB1JuCfyhPptiSg,wML8YiFzB1JuCfyhPptiSg,"['galbigui', 'doenjangjjigae']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
type(food_df.iloc[0].galchigui)

numpy.float64

# food컬럼 리스트화

In [81]:
new_df['food'] = new_df['food'].apply( eval )

# 비어있는 행에 값 채우기

In [21]:
new_df = food_df[:]

In [65]:
new_df

,Unnamed: 0,user_name,food
0,KgQnRvsPSrJJTOCp-reYZA,KgQnRvsPSrJJTOCp-reYZA,"['galbitang', 'bulgogi']"
1,1goJa-4OKwc--vlISRm54g,1goJa-4OKwc--vlISRm54g,"['bulgogi', 'bulgogi']"
2,6agrhhelmT9DLUfx4EeZVA,6agrhhelmT9DLUfx4EeZVA,"['galbigui', 'galbitang']"
3,AvaeN3hgxdytAEMlNud-FQ,AvaeN3hgxdytAEMlNud-FQ,"['kimchijjigae', 'galbigui']"
4,wML8YiFzB1JuCfyhPptiSg,wML8YiFzB1JuCfyhPptiSg,"['galbigui', 'doenjangjjigae']"
...,...,...,...
78628,Arlene K,Arlene K,"['yangnyeomchicken', 'yangnyeomchicken']"
78629,MrsOS2014,MrsOS2014,"['yangnyeomchicken', 'yangnyeomchicken']"
78630,Alison A,Alison A,"['yangnyeomchicken', 'yangnyeomchicken']"
78631,addiction4travel,addiction4travel,"['yangnyeomchicken', 'friedchicken']"
78632,152JoyB,152JoyB,"['friedchicken', 'yangnyeomchicken']"

In [45]:
new_df.iloc[78632]

Unnamed: 0                             152JoyB
user_name                              152JoyB
food          [friedchicken, yangnyeomchicken]
galbigui                                   NaN
galchigui                                  NaN
                            ...
hangwa                                     NaN
meongge                                    NaN
sannakji                                   NaN
mulhoe                                     NaN
yukhoe                                     NaN
Name: 78632, Length: 153, dtype: object

In [47]:
new_df.tail()

,Unnamed: 0,user_name,food,galbigui,galchigui,godeungeogui,gopchanggui,dakgalbi,deodeokgui,tteokgalbi,...,gochutwigim,saeutwigim,ojingeotwigim,yakgwa,yaksik,hangwa,meongge,sannakji,mulhoe,yukhoe
78628,Arlene K,Arlene K,"[yangnyeomchicken, yangnyeomchicken]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78629,MrsOS2014,MrsOS2014,"[yangnyeomchicken, yangnyeomchicken]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78630,Alison A,Alison A,"[yangnyeomchicken, yangnyeomchicken]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78631,addiction4travel,addiction4travel,"[yangnyeomchicken, friedchicken]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78632,152JoyB,152JoyB,"[friedchicken, yangnyeomchicken]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
type(new_df)

pandas.core.frame.DataFrame

In [82]:
from tqdm import tqdm
for idx,value in tqdm(enumerate(new_df['food'])) :
    #print(type(idx))
    #     print(idx, value)
    for i in value:
    #         print(i)
        new_df.loc[idx][i]=1.0

78633it [00:16, 4684.18it/s]

In [73]:
new_df.iloc[0]['galbitang']

## 값이 잘 들어갔는지 확인

In [83]:
new_df.iloc[0]['galbitang']

1.0

- 음식별 맛 합계

In [84]:
new_df.tteokgalbi.sum()

886.0

In [90]:
len(new_df.columns)

121

- 음식 합계가 0인 음식은 지워라

In [88]:
for food in list(new_df.columns) :
#     print(menu)
    if new_df[food].sum() == 0 :
        new_df = new_df.drop([food], axis=1)

- 저장

In [91]:
new_df.to_csv('/home/team/바탕화면/파이널프로젝트2/data/new_df_final.csv')